In [2]:
import pandas as pd
import numpy as np

#### read in data via url link provided

In [3]:
fuel_quality = pd.read_csv("https://bit.ly/HDSC-StageOneDataset", error_bad_lines=False)
fuel_quality.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

#### write data to disk

In [4]:
fuel_quality.to_csv("fuel_quality.csv", index=False)

#### commence data analysis

In [5]:
fuel_quality = pd.read_csv("fuel_quality.csv")
fuel_quality.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

#### Dataset Description
The data provided in this Github link <b><u>is the fuel quality data</u></b> from the Federal Energy Regulatory Commission which is provided by the United States Energy Information Administration. The data consists of the following columns:<br>
* **Record_id** : record id
* **Utility_id_ferc1**: Utility id assigned by the FERC
* **Report_year**: year of report
* **Plant_name_ferc1**: the name of the plant
* **Fuel_type_code_pudl**: the type of fuel
* **Fuel_unit**: the unit of fuel
* **Fuel_qty_burned**: the quantity of fuel burned
* **Fuel_mmbtu_per_unit**: the measure of energy per unit
* **fuel_cost_per_unit_burned**: the fuel cost per unit burned
* **Fuel_cost_per_unit_delivered**: the cost of fuel delivered per unit
* **fuel_cost_per_mmbtu**: the cost of fuel per mmbtu

In [6]:
fuel_quality.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [7]:
fuel_quality.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [8]:
# Descriptive stats of numerical features
fuel_quality.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
# Descriptive stats of non-numerical features
fuel_quality.describe(include=np.object)

                      record_id plant_name_ferc1 fuel_type_code_pudl fuel_unit
count                     29523            29523               29523     29343
unique                    29523             2315                   6         9
top     f1_fuel_1994_12_56_3_10        big stone                 gas       mcf
freq                          1              156               11486     11354

In [10]:
# There are 6 categories of fuel types
print(fuel_quality.fuel_type_code_pudl.unique())

['coal' 'gas' 'nuclear' 'oil' 'waste' 'other']

In [18]:
### Check for missing values
print(fuel_quality.isnull().values.any())    # To check if there are any missing value(s) in the dataframe
print(fuel_quality.isnull().values.sum())    # To obtain the total sum of missing value points

fuel_quality.isnull().sum()                  # To show the distribution of the null value points across the features

True
180

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [43]:
fuel_quality.fuel_unit.value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [46]:
fuel_quality.fuel_unit = fuel_quality.fuel_unit.fillna(value='mcf')

In [47]:
fuel_quality.isnull().values.any()

False

In [54]:
fuel_quality.groupby('fuel_type_code_pudl').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,,,
coal,f1_fuel_1994_12_1_0_7,1,1994,rockport,ton,5377489.0,16.590000,18.590,18.530,1.121
gas,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,mcf,40533.0,1.000000,2.770,2.770,2.570
nuclear,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,kgU,2260.0,0.064094,28.770,0.000,0.450
oil,f1_fuel_1994_12_6_0_2,6,1994,clinch river,bbl,6510.0,5.875338,32.130,23.444,5.469
other,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,bbl,55652.0,0.149719,14.685,15.090,2.335
waste,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,ton,2438.0,0.015939,34.180,34.180,1.072

In [59]:
fuel_quality.duplicated().any()

False