## Import dependencies

In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel_data = pd.read_csv("https://bit.ly/HDSC-StageOneDataset", error_bad_lines=False)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

 

## Answers to questions

In [3]:
# Quetion _1
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
# Question _2
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [5]:
# Question _3

type_cost_burned = fuel_data.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean()

print("The fuel type with the lowest fuel cost per unit burned: ", end='')
print(type_cost_burned[type_cost_burned == type_cost_burned.min()].index.tolist()[0])

The fuel type with the lowest fuel cost per unit burned: gas

In [6]:
# Question _4

fuel_data.fuel_mmbtu_per_unit.describe()[['std', '75%']].round(2)

std    10.60
75%    17.01
Name: fuel_mmbtu_per_unit, dtype: float64

In [7]:
# Question _5

print('Skewness of fuel quality burned: ', end='')
print(fuel_data.fuel_qty_burned.skew().round(2))

print('Kurtosis of fuel quality burned: ', end='')
print(fuel_data.fuel_qty_burned.kurtosis().round(2))

Skewness of fuel quality burned: 15.85
Kurtosis of fuel quality burned: 651.37

In [8]:
# Question _6
print(fuel_data.isna().sum()[fuel_data.isna().any()], '\n')
percent_missing = (fuel_data.isna().sum()[fuel_data.isna().any()][0] / fuel_data.shape[0]) * 100

print('Percentage of the missing rows as a factor of the total number of rows = ', end='')
print (round(percent_missing, 3), '%', sep='')

fuel_unit    180
dtype: int64

Percentage of the missing rows as a factor of the total number of rows = 0.61%

In [9]:
# Question _7
print(fuel_data.columns[fuel_data.isna().any()].dtype)
print('The feature with missing values falls under: Categorical - normnal', '\n')
print('I will use the Mode of the data as the missing value imputation technique')

object
The feature with missing values falls under: Categorical - normnal

I will use the Mode of the data as the missing value imputation technique

In [10]:
# Question _8

from operator import itemgetter

# Using list comprehension and sorted function:
corr_with_fuel_cost_per_unit_burned = sorted(
    [
        (column, fuel_data.fuel_cost_per_unit_burned.corr(fuel_data[column]))    # tuple(feature, corr_coeff) 
        for column in fuel_data.columns 
        if (fuel_data[column].dtype != np.object) and (column != 'fuel_cost_per_unit_burned') # exclude non-numeric
    ],                                                                     # features and fuel_cost_per_unit_burned
    key=itemgetter(1)                                                      # the sorting key
)

corr_with_fuel_cost_per_unit_burned[1:3]

[('fuel_qty_burned', -0.01853541679482522),
 ('fuel_mmbtu_per_unit', -0.010033808428853071)]

In [12]:
# Question _9

coal_cost_1998 = fuel_data.fuel_cost_per_unit_burned[(fuel_data.fuel_type_code_pudl == 'coal') & 
                                                     (fuel_data.report_year == 1998)].sum()

coal_cost_1994 = fuel_data.fuel_cost_per_unit_burned[(fuel_data.fuel_type_code_pudl == 'coal') & 
                                                     (fuel_data.report_year == 1994)].sum()

print('The percentage change in the fuel cost per unit burned in 1998 compared to 1994 is ', end='')
print(round(100 * (coal_cost_1998 - coal_cost_1994)/coal_cost_1994), '%', sep='')

The percentage change in the fuel cost per unit burned in 1998 compared to 1994 is -21.0%

In [13]:
# question 10
# Obtain avg cost per unit delivered over the years
arr = fuel_data.groupby('report_year').fuel_cost_per_unit_delivered.mean()

print('The year with the highest average fuel cost per unit delivered is ', end='')
print(arr[arr == arr.max()].index[0])

The year with the highest average fuel cost per unit delivered is 1997